<div>
    <section class="col-xs-12 panel" style="margin: 0px;padding: 0px;overflow: hidden;margin-bottom: 10px;">
        <img src="{{ user.propic|photo:230:230:80 }}" class="img-responsive"
             style="margin: 0px;max-height: 250px;">

        <div class="panel-body">
            <span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
            </span>
            <h5>{{user.firstname}}</h5>
        </div>
    </section>

    <!--<div style="padding-top: 10px;">-->
        <!--<h4>-->
                  <!--<span class="label label-default">-->
                    <!--56 Followers-->
                      <!--</span>-->
        <!--</h4>-->
        <!--<h4>-->
                  <!--<span class="label label-primary">-->
                    <!--20 Events-->
                      <!--</span>-->
        <!--</h4>-->
        <!--<h4>-->
                  <!--<span class="label label-primary">-->
                    <!--100+ photos-->
                      <!--</span>-->
        <!--</h4>-->
    <!--</div>-->
</div>