<div class="btn-group btn-group-square">
    <a id="loginbtnprompt"

       class="btn btn-lg btn-primary btn-square center-block">
        <span class="fa fa-unlock"></span>
        Sign in</a>
    <a href="./userauth" class="btn btn-lg btn-danger btn-square center-block">
        <span class="fa fa-user"></span>
        Join us today</a></div>