/*Event Time Line content*/
.panel-event p {
  color: #30374a;
}

.cover-image {
  min-height: 150px;
  max-height: 250px;
  padding: 0px;
  margin: 0px;
}

.cover-image a {
  transition: opacity 1s;
}

.cover-image a:hover {
  opacity: 0.89;
  filter: alpha(opacity=89); /* For IE8 and earlier */
}

.cover-image:hover {

}

.cover-image > .mosaic-overlay > .media-body {
  vertical-align: middle;
}

.cover-image > .mosaic-overlay > .media-body a {
  color: #1d1d1d;
  font-size: 2em;
}

.photo-list {
  max-height: 100px;
  overflow: hidden;
}

.photo-list a {
  transition: opacity 0.5s;
  cursor: pointer;
  text-decoration: none;
  width: 200%;
  overflow-x: hidden;

}

.photo-list a img {
  border: 1px solid #bbbbbb;
}

.photo-list a img:hover {
  border: 1px solid #bbbbbb;
}

.photo-list a:hover {
  opacity: 0.59;
  filter: alpha(opacity=69); /* For IE8 and earlier */

}

.event-title {
  color: #273A88;
}