
body {
  background-color: #e9e9e9;
  overflow-x: hidden;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #30374a;
}

.panel .btn i, .btn span {
  color: inherit;
}

.panel .panel-heading {
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  color: #010101;
  border-color: transparent;
}

.panel {
  padding: 10px;
  border: 1px transparent dashed;
  border-radius: 1px;
  transition: box-shadow 2s;
}

.panel:hover {

  -webkit-box-shadow: 4px 4px 19px 0px rgba(80, 80, 80, 0.3);;
  -moz-box-shadow: 4px 4px 19px 0px rgba(80, 80, 80, 0.3);;
  box-shadow: 4px 4px 19px 0px rgba(80, 80, 80, 0.3);;

  /*//border: 1px rgba(0, 0, 0, 0.2) dashed;*/
}

.panel .panel-heading a {
  font-weight: 400;
  font-size: 11px;
}

.panel .panel-default {
  border-color: #cccccc;
}

.panel .panel-thumbnail {
  padding: 0;
}

.panel .img-circle {
  width: 50px;
  height: 50px;
}

.functionCard {
  color: #e0e0e0;
  transition: color 1s;
  cursor: pointer;
  border: 3px dashed #ff609a;

}
.itemnow{
  border: 2px dashed #4d79c6;
}

.functionCard .title{
    color: #4d79c6;;
;
}

.functionCard h1 span {
  color: #dadada;
  transition: color 1s;

}

.functionCard:hover h1 span {
  color: #0092ef;
}
.item{
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.panel .list-group-item {
  font-size: 1.2em;
}

.panel .list-group-item:first-child {
  border-top: none;
}
a.list-group-item{
  font-size: 1.5em;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: #5b5e5f;
  font-weight: 800;
  background-color: transparent;
  border-color: transparent;
}