@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Lato:100,300,400);
@import "../vendor/bootflat/bootstrap/bootstrap.min.css";
@import "../vendor/bootflat/css/font-awesome.min.css";
@import "../vendor/bootflat/bootflat/css/bootflat.css";
@import "../vendor/bootflat/css/bootflat-extensions.css";
@import "../vendor/bootflat/css/bootflat-square.css";
@import "../vendor/mosaic/css/mosaic.css";
@import "../vendor/qtip2/jquery.qtip.min.css";
@import "../vendor/bootstrap/css/bootstrap-social.css";
@import "../css/tantoor-login.css";
@import "../vendor/vegas/jquery.vegas.min.css";
@import "../vendors/select2/select2.css";
@import "../vendors/select2/select2-bootstrap.css";
.green {
  color: #a0d468;
}
.red {
  color: #e9573f;
}
.redborder {
  border: 1px #e9573f solid;
}
.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding-right: 2px;
  padding-top: 5px;
  pointer-events: none;
}
/*Event Time Line content*/
.panel-event p {
  color: #30374a;
}
.cover-image {
  min-height: 150px;
  max-height: 250px;
  padding: 0px;
  margin: 0px;
}
.cover-image a {
  transition: opacity 1s;
}
.cover-image a:hover {
  opacity: 0.89;
  filter: alpha(opacity=89);
  /* For IE8 and earlier */
}
.cover-image > .mosaic-overlay > .media-body {
  vertical-align: middle;
}
.cover-image > .mosaic-overlay > .media-body a {
  color: #1d1d1d;
  font-size: 2em;
}
.photo-list {
  max-height: 100px;
  overflow: hidden;
}
.photo-list a {
  transition: opacity 0.5s;
  cursor: pointer;
  text-decoration: none;
  width: 200%;
  overflow-x: hidden;
}
.photo-list a img {
  border: 1px solid #bbbbbb;
}
.photo-list a img:hover {
  border: 1px solid #bbbbbb;
}
.photo-list a:hover {
  opacity: 0.59;
  filter: alpha(opacity=69);
  /* For IE8 and earlier */
}
.event-title {
  color: #273A88;
}
body {
  background-color: #e9e9e9;
  overflow-x: hidden;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #30374a;
}
.panel .btn i,
.btn span {
  color: inherit;
}
.panel .panel-heading {
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  color: #010101;
  border-color: transparent;
}
.panel {
  padding: 10px;
  border: 1px transparent dashed;
  border-radius: 1px;
  transition: box-shadow 2s;
}
.panel:hover {
  -webkit-box-shadow: 4px 4px 19px 0px rgba(80, 80, 80, 0.3);
  -moz-box-shadow: 4px 4px 19px 0px rgba(80, 80, 80, 0.3);
  box-shadow: 4px 4px 19px 0px rgba(80, 80, 80, 0.3);
  /*//border: 1px rgba(0, 0, 0, 0.2) dashed;*/
}
.panel .panel-heading a {
  font-weight: 400;
  font-size: 11px;
}
.panel .panel-default {
  border-color: #cccccc;
}
.panel .panel-thumbnail {
  padding: 0;
}
.panel .img-circle {
  width: 50px;
  height: 50px;
}
.functionCard {
  color: #e0e0e0;
  transition: color 1s;
  cursor: pointer;
  border: 3px dashed #ff609a;
}
.itemnow {
  border: 2px dashed #4d79c6;
}
.functionCard .title {
  color: #4d79c6;
}
.functionCard h1 span {
  color: #dadada;
  transition: color 1s;
}
.functionCard:hover h1 span {
  color: #0092ef;
}
.item {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.panel .list-group-item {
  font-size: 1.2em;
}
.panel .list-group-item:first-child {
  border-top: none;
}
a.list-group-item {
  font-size: 1.5em;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: #5b5e5f;
  font-weight: 800;
  background-color: transparent;
  border-color: transparent;
}
html,
body {
  font-size: 11px;
  font-weight: 400;
  font-family: 'Lato', Helvetica, sans-serif;
  height: 100%;
  overflow: auto;
}
#qtip-growl-container {
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 2000;
}
#qtip-growl-container .qtip {
  position: static;
  min-height: 0;
  overflow: hidden;
  margin: 0 0 5px 0;
  top: 10px;
  right: 10px;
}
.component {
  padding-top: 50px;
}
.input-group .form-control {
  height: 53px;
  display: table;
  left: 0;
  padding: 0;
  padding-left: 38px;
  border: none;
  background: none;
  background-color: inherit;
}
.input-group-addon {
  background-color: inherit;
  border: none;
}
.link {
  cursor: pointer;
}
.qtip {
  width: auto;
  max-width: 100%;
}
.my_width_setting_class {
  max-width: 1200px;
  min-width: 0px;
}
.qtip-square {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.qtip-square .qtip-titlebar {
  -moz-border-radius: 1px 1px 0 0;
  -webkit-border-radius: 1px 1px 0 0;
  border-radius: 1x 1px 0 0;
}
.qtip-titlebar div {
  margin-right: 30px;
}
header {
  display: block;
  overflow: hidden;
  position: relative;
}
.container-card {
  margin: 5px;
  padding: 0px;
  background-color: #ffffff;
  -webkit-box-shadow: #bdc3c7 0 5px 5px;
  -moz-box-shadow: #bdc3c7 0 5px 5px;
  box-shadow: #bdc3c7 0 5px 5px;
  color: #353e6a;
}
.bg {
  border-bottom: 2px solid #8fbdd9;
}
.bio:hover > .desc {
  cursor: pointer;
  opacity: 1;
}
.avatarcontainer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  display: block;
}
.avatarcontainer:hover > .hover {
  opacity: 1;
}
.avatar {
  width: 100%;
  border: 2px solid #8fbdd9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.avatar img {
  width: 65px;
  height: 65px;
}
.avatar:hover + .hover {
  opacity: 1;
  cursor: pointer;
}
.hover {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #3498db;
  top: 0;
  font-size: 1.8em;
  text-align: center;
  color: white;
  padding-top: 18%;
  opacity: 0;
  font-family: 'FontAwesome';
  font-weight: 300;
  border: 8px solid #5cc0ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.data {
  margin-top: .6em;
  color: #81878b;
}
.data li {
  width: 32%;
  text-align: center;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Lato';
  border-right: solid 1px #bdc3c7;
}
.data li:last-child {
  border: none;
}
.data li span {
  display: block;
  text-transform: uppercase;
  font-family: 'Quicksand';
  font-size: .5em;
  margin-top: .6em;
  font-weight: 700;
}
.desc {
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 171px;
  padding: 1.2em 1em 0 1em;
  color: white;
  text-align: center;
  opacity: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.desc h3 {
  font-family: "Lato";
  font-size: 1.2em;
  margin-bottom: .5em;
}
.desc p {
  font-size: .9em;
  font-family: 'Quicksand';
  line-height: 1.5em;
}
.follow {
  margin: 1.5em auto 0 auto;
  background-color: #2589cc;
  width: 150px;
  color: white;
  font-family: "Lato";
  text-align: center;
  padding: .5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.follow:hover {
  background-color: #167abd;
  cursor: pointer;
}
#main {
  margin: 30px 0;
  position: relative;
}
header h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  margin: 30px 0 10px 0;
}
header p {
  text-align: center;
  font-size: 14px;
  color: #666666;
  margin: 0;
  font-weight: 200;
}
/**
 * Grid container
 */
#tiles {
  list-style-type: none;
  position: relative;
  /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}
/**
 * Grid items
 */
#tiles li {
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none;
  /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
  overflow: hidden;
}
#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}
#tiles li img {
  display: block;
}
/**
 * Grid item text
 */
#tiles li p {
  color: #666;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  font-weight: 200;
  margin: 7px 0 2px 7px;
}
footer {
  text-align: center;
}
footer a {
  color: #435DC5;
  text-decoration: none;
}
/**
 * Progress bar for imagesLoaded
 */
.progress-bar {
  background-color: #0BC20B;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
/**
 * Placerholder css
 */
.wookmark-placeholder {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}
.example-tiles {
  position: relative;
  /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}
.example-tiles li {
  display: block;
  list-style-type: none;
  float: left;
  margin: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.example-tiles a,
.example-tiles a:hover {
  color: #555;
  background-color: #eee;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding: 5px 8px;
  border-radius: 3px;
}
.example-tiles a:hover {
  background-color: #ddd;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.left-inner-addon {
  position: relative;
}
.left-inner-addon input {
  padding-left: 30px;
}
.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}
/**Item */
.item {
  margin: 5px;
}
