@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Lato:100,300,400);

/* line 21, ../sass/typica-login.scss */
.blue {
    color: #f2fcff;
    font-weight: 400;
}

/* line 25, ../sass/typica-login.scss */
.btn-black {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 5px 20px;
    background-color: #222222;
    background-image: none;
    color: white;
    text-shadow: none;
}

/* line 33, ../sass/typica-login.scss */
.btn-black:hover {
    background: #333333;
    color: white;
}

/* ####### */
/* $LOGIN  */
/* ####### */
/* line 80, ../sass/typica-login.scss */
#login-wraper {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    top: 50%;

    padding: 25px;
    background: white;
    text-align: justify;
}

#login-wraper.container {
    max-width: 800px;
}

/* line 97, ../sass/typica-login.scss */
.login-form legend {
    margin-top: 5px;
    margin-bottom: 30px;
    padding-bottom: 25px;
}

/* line 102, ../sass/typica-login.scss */
.login-form .body {
    padding-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
}

/* line 106, ../sass/typica-login.scss */
.login-form .footer {
    margin-top: 20px;
}

/* line 108, ../sass/typica-login.scss */
.login-form .footer .checkbox.inline {
    display: inline;
}

/* line 110, ../sass/typica-login.scss */
.login-form .footer .checkbox.inline input[type="checkbox"] {
    float: none;
    margin-top: -4px;
}

/* line 115, ../sass/typica-login.scss */
.login-form .footer .btn {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-left: 15px;
    padding: 7px 25px;
    background-image: none;
}

/* ######### */
/* $REGISTER */
/* ######### */
/* line 127, ../sass/typica-login.scss */
#register-wraper {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    margin-top: 25px;
    margin-bottom: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: white;
    text-align: center;
}

.login-form .footer {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
    text-align: right;
}

/* login form */
/* line 17, D:/DropBox/bootstrap/typica-login/sass/includes/_fonts.scss */
.login-form legend {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #ffffff;
    -webkit-font-smoothing: subpixel-antialiased;
}

/* line 24, D:/DropBox/bootstrap/typica-login/sass/includes/_fonts.scss */
.login-form label {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
}

/* register form */
/* line 32, D:/DropBox/bootstrap/typica-login/sass/includes/_fonts.scss */
#register-form legend {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #333333;
    -webkit-font-smoothing: subpixel-antialiased;
}

.sidepanel {
}

.sidepanel h2, .sidepanel h3 {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
}

/* line 39, D:/DropBox/bootstrap/typica-login/sass/includes/_fonts.scss */
#register-form label {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 18px;
    color: #333333;
    font-weight: 300;
}

/* register info */
/* line 48, D:/DropBox/bootstrap/typica-login/sass/includes/_fonts.scss */
#register-info h1 {
    font-size: 42px;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    line-height: 55px;
    font-weight: 700;
    text-align: right;
    padding-bottom: 50px;
    color: white;
}

/* line 57, D:/DropBox/bootstrap/typica-login/sass/includes/_fonts.scss */
#register-info ul {
    text-align: right;
    color: white;
    font-size: 24px;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

/* footer */
/* line 66, D:/DropBox/bootstrap/typica-login/sass/includes/_fonts.scss */
footer.navbar-fixed-bottom {
    font-size: 16px;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    line-height: 18px;
    font-weight: 400;
}

/* ######## */
/* $QUERIES */
/* ######## */
/* Portrait tablet*/
@media (max-width: 980px) {
    /* logo margin fix */
    /* line 8, D:/DropBox/bootstrap/typica-login/sass/includes/_queries.scss */
    .navbar {
        height: auto;
        margin-bottom: 0;
    }

    /* line 9, D:/DropBox/bootstrap/typica-login/sass/includes/_queries.scss */
    .navbar .brand {
        margin-top: 0;
    }

    /* line 14, D:/DropBox/bootstrap/typica-login/sass/includes/_queries.scss */
    .navbar .navbar-inner {
        height: auto;
    }

    /* line 18, D:/DropBox/bootstrap/typica-login/sass/includes/_queries.scss */
    .navbar .nav > li > a:hover {
        color: white;
    }

    /* line 21, D:/DropBox/bootstrap/typica-login/sass/includes/_queries.scss */
    #login-wraper {
        position: relative;
        top: 0;
        margin-top: 25px;
    }
}

@media (max-width: 495px) {
    /* line 29, D:/DropBox/bootstrap/typica-login/sass/includes/_queries.scss */
    #login-wraper {
        width: auto;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        left: 0;
    }

    /* line 36, D:/DropBox/bootstrap/typica-login/sass/includes/_queries.scss */
    #register-form {
        width: auto;
    }

    /* line 38, D:/DropBox/bootstrap/typica-login/sass/includes/_queries.scss */
    #register-form .control-inline {
        display: block;
    }

    /* line 41, D:/DropBox/bootstrap/typica-login/sass/includes/_queries.scss */
    #register-form input {
        display: block;
        margin: 0 auto;
    }

    /* line 44, D:/DropBox/bootstrap/typica-login/sass/includes/_queries.scss */
    #register-form input.input-huge, #register-form input.input-medium {
        width: auto;
        display: block;
    }

    /* line 49, D:/DropBox/bootstrap/typica-login/sass/includes/_queries.scss */
    #register-form .btn {
        display: block;
        margin: 0 auto;
    }
}
