<section class="colorBg1 colorBg" id="demo1" data-panel="first">

    <div class=" container">

        <div class="login-form-section">
            <div class="login-content " data-animation="bounceIn">
                <form>
                    <div class="section-title">
                        <h3>LogIn to your Account</h3>
                    </div>
                    <div class="textbox-wrap">
                        <div class="input-group">
                            <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                            <input type="text" required="required" class="form-control" placeholder="Username" />
                        </div>
                    </div>
                    <div class="textbox-wrap">
                        <div class="input-group">
                            <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
                            <input type="password" required="required" class="form-control " placeholder="Password" />
                        </div>
                    </div>
                    <div class="login-form-action clearfix">
                        <div class="checkbox pull-left">
                            <div class="custom-checkbox">
                                <input type="checkbox" checked name="iCheck">
                            </div>
                            <span class="checkbox-text pull-left">&nbsp;Remember Me</span>
                        </div>
                        <button type="submit" class="btn btn-success pull-right green-btn">LogIn &nbsp; <i class="icon-chevron-right"></i></button>
                    </div>
                </form>
            </div>
            <div class="login-form-links link1 " data-animation="fadeInLeftBig" data-animation-delay=".2s">
                <h4 class="blue">Don't have an Account?</h4>
                <span>No worry</span>
                <a href="#demo2" class="blue">Click Here</a>
                <span>to Register</span>
            </div>
            <div class="login-form-links link2 " data-animation="fadeInRightBig" data-animation-delay=".4s">
                <h4 class="green">Forget your Password?</h4>
                <span>Dont worry</span>
                <a href="#demo3" class="green">Click Here</a>
                <span>to Get New One</span>
            </div>
        </div>



    </div>
</section>
