<div>
    <a class="image" href="{{ photo.url}}"  data-lightbox="event"  >
        <img src="{{ photo.url|photo:450:0:90 }}" class="img-responsive">
    </a>

    <div class="panel-body">
        <p ng-hide="editable">
            {{ photo.description }}
        </p>


        <div class="row" ng-show="editable">
            <p>
                <textarea ng-model="photo.description" placeholder="Add a description" class="form-control"></textarea>
            </p>

            <p class="pull-right">
                <button href="#" class="btn btn-primary btn-square btn-sm"
                        server-click="updatePhotoDetails()"
                        server-update-message="Saving..."
                        role="button">
                    <span class="fa fa-check">Update</span>
                </button>

                <button href="#" class="btn btn-danger btn-square btn-sm"
                        server-click="deletePhotoDetails()"
                        server-update-message="Deleting..."
                        role="button">
                    <span class="fa fa-times">Delete</span>
                </button>
            </p>

        </div>

    </div>

</div>