<div class="panel col-xs-12  panel-event bar " style="padding: 0px;" id="event">

    <div class="col-xs-4  mosaic-block cover-image ">
        <a class="col-xs-12  "
           href="./{{ event.tripid }}"
           style="
               background-image: url('{{ event.coverphoto|photo:500:0:100 }}');
               background-position :center;
               background-size: cover;
                height: 250px;width: 100%;margin: 0px;">
        </a>

        <div class="mosaic-overlay">
            <div class="media-body">
                <a href="./{{ event.tripid }}">More </a>
                <a class="pull-right"  href="./{{ event.tripid }}" >
                            <span class="fa fa-2x fa-chevron-circle-right">
                        </span>
                </a>

                <p style="font-size: small;color: #000000; font-weight: bold">
                    {{ event.photocount }}+ Photos
                </p>


                <div class="clearfix"></div>

            </div>
        </div>
    </div>
    <div class="col-xs-8" style="height: 100%;">

        <div class="header">
            <user-component-img user="event.lastupdate"></user-component-img>

            <h4 style="" class="event-title"><a href="./{{ event.tripid }}">{{ event.name }}</a></h4>

            <p class="entry-meta">
                Posted on <a class="entry-date" href="date.html">

                {{ event.updatedatetime|date:'MMM dd, yyyy' }}
            </a>
                | By <a class="entry-author" user-details user="event.lastupdate"
                        href="./{{ event.lastupdate.userid }}">
                {{event.lastupdate.firstname|limittext:25}}
            </a>
            </p>
        </div>
        <div class="panel-body" style="height: 100%;color: #6A749D;padding-bottom: 0px;margin-bottom: 0px;">
            <p style="text-indent: 20px;text-align: justify;height: auto;max-height: 60px;min-height: 60px;">
                {{ event.description|limittext:250 }}
            </p>

            <div class="photo-list ">
                <a href="./{{ event.tripid }}" ng-repeat="photo in photos">
                    <img src="{{ photo.url|photo:100:100:75 }}">
                </a>

            </div>
        </div>
    </div>
    <!--<a class="btn btn-default" ng-click="dialog()">Dialog</a>-->
</div>