<div id="row">
    <div class="col-md-12" id="control-panel" style="height: auto;padding: 0px;position: relative;display: none"></div>

    <div id="main" role="main" class="col-md-12" style="padding: 0px;margin-top: 10px;">

        <div id="tiles">

            <div class="item panel" style="margin: 0px;width: 400px;">
                <blockquote style="text-align: justify">
                    <small>
                        {{ event.description }}
                    </small>
                </blockquote>
            </div>

            <div class="item panel stamped-second functionCard" id="uploadImage"
                 style="margin: 0px;text-align: center;background-color: transparent;" ng-click="showImageUploadView()">

                <h3 class="title">
                    <span class="fa fa-plus-circle"></span>
                    Upload Photos</h3>

                <h1>
                    <span class="fa fa-camera-retro fa-5x functionCardicon"></span>
                </h1>

                <button class="btn btn-primary btn-square btn-lg center-block">Select Photos</button>


                <!--<input ng-file-select type="file" multiple style="display: none" id="photouploader"/>-->

            </div>
            <div class="item panel stamped-second functionCard" id="uploadImageView"
                 style="margin: 0px;text-align: center;background-color: transparent;" ng-click="showImageUploadView()">

                <h3 class="title">
                    <span class="fa fa-user"></span>
                    Invite Friends</h3>

                <h1>
                    <span class="fa fa-facebook functionCardicon"></span>
                    <span class="fa fa-envelope functionCardicon"></span>
                    <span class="fa fa-twitter functionCardicon"></span>
                </h1>
            </div>
            <div class="item panel stamp-second" id="bengSc" style="margin: 0px;">
                <button class="btn btn-primary btn-square">
                    <span class="fa fa-thumbs-up"></span>
                    Like
                </button>
                <button class="btn btn-primary btn-square">
                    <span class="fa fa-comments"></span>
                    Share
                </button>
            </div>


            <!--
              These are our grid items. Notice how each one has a data-attribute assigned that
              are used for sorting. The classes match the "data-sortby" properties above.
              -->

            <event-photo class="panel item" style="margin: 0px;" ng-repeat="photo in event.photos" ng-show="photo.url"
                         photo="photo"
                         onremove="trigerOnDelete($index)"
                         data-price="20" onlastphoto="isotopeContainer()"></event-photo>


        </div>


    </div>


</div>