<div class="panel" style="position: inherit">

    <div style="
 width: auto;
    height: 350px;
    background-size: cover;
    background-image: url('http://www.romagna.com/romagnacms/romagnafiles/divertimentienightlifepic_960.jpg')">

    </div>
    <div style="width: 100%;height: 50px;background-color: rgba(0,0,0,0.84);
        padding: 10px;
        position: relative;margin-top:-50px;">
<span class="pull-left" style="padding: 0px;">
                    <h3 style="padding: 0px;margin: 0px;color: #f5f5f5">
                        <p class="">
                            <i class="fa fa-quote-left text-muted  fa-fw"
                               style="font-size: .5em;color: #9f9f9f;vertical-align: super"></i>
                            What a fun Partyyy</p>
                    </h3>
</span>

        <a href="#" class="pull-right" style="color: #f5f5f5;font-size: 1.4em;">
            <strong>
                # Get Together
            </strong>
        </a>
    </div>
    <div class="panel-body" style="padding-top: 0px;padding-bottom: 0px;position: inherit;">
        <div style="padding-top: 5px;margin-top: 5px;color: #676767">
            <div class="pull-left">
     <span style="color: #3c4680">
                        2 days ago updated by
         <a user-details user="dewmalYakla">
             <strong> dewmal</strong>
         </a>
                 </span>
            </div>
            <div class="pull-right">

                <button type="button" class="btn btn-default">
                    <span class="fa fa-heart-o"></span>
                    Follow
                </button>


                <button
                        ng-click="uploadPhotos()"
                        type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-camera-retro"></span>
                    Upload Photos
                </button>

                <button ng-click="update()" type="button" class="btn btn-default dropdown-toggle"
                        ng-disabled="updateMode"
                        data-toggle="dropdown">
                    <span class="fa fa-edit"></span>
                    Edit
                </button>


            </div>
            <div class="col-md-12" style="padding: 0px;;padding-top: 10px;display: none;margin: 0px;"
                 id="updateLoadArea"></div>
            <div id="description">
                <article class="pull-left" style="text-align: justify;text-indent: 20px;font-style: normal;">
                    The show, which will transmit around Valentine’s Night, will take a sideways and often surprising
                    look at the world of dating, investigating the differences between emotional and physical attraction
                    for both men and women. In a world where people now look for love using dating sites and often base
                    their decision simply on the way someone looks, this show explores if true love can blossom based
                    just on character alone.
                    </span>
                </article>
            </div>
        </div>


    </div>
</div>