<form class="bf-example form-horizontal form-square" ng-controller="eventUpdate"
      style="background-color: #e6e6e6;padding: 10px;min-width: 500px;">

    <input id="fileupload" type="file" name="files[]" data-url="/upload" multiple>
    <script>$('#fileupload').fileupload({ dataType: 'json' })</script>

    <!--<div class="form-group">-->
        <!--<label for="inputPhotos" class="col-lg-2 control-label">Upload photos</label>-->

        <!--<div class="col-lg-10">-->
            <!--<input id="inputPhotos" type="file"  placeholder="Select first photo of event" class="form-control"/>-->
        <!--</div>-->
    <!--</div>-->



</form>