<div class="panel col-xs-12" style="padding: 0px;">

    <div class="col-xs-2   " style="padding: 0px;width: auto">
        <a class="col-xs-12 "
           style="
               background-image: url('{{ event.coverphoto }}');
               background-position :center;
               background-size: cover;
                height: 75px;width: 75px;margin: 0px;">
        </a>

    </div>
    <div class="col-xs-8" style="width: auto">
        <a href="./{{ event.tripid }}">
            <h4 style="padding: 0px;margin-top: 0px;">
                        <span>
                        {{ event.name }}


                            </span>
            </h4>
        </a>

        <span class="label label-info" style="font-size: 1.1em">
            {{ event.photocount }}
            photos</span>
        <span class="label label-info" style="font-size: 1.1em">4 Contributors</span>
        <span class="label label-info" style="font-size: 1.1em">4000+ Likes</span>
        <span class="label label-info" style="font-size: 1.1em">4000+ Shares</span>
        <h5>
            <small>
                <span class="label label-primary">{{ event.lastupdate.username }}</span> update @ 12 hour ago
            </small>
        </h5>
    </div>
    <div class="col-xs-2 pull-right" style="text-align: right;padding: 0px;width: auto">
        <div class="btn-group btn-group-square btn-group-sm">
            <a class="btn btn-primary" href="./{{ event.tripid }}" data-toggle="tooltip" data-placement="top"
               title="Edit event">
                <span class="fa fa-edit"></span>
            </a>
            <button class="btn btn-primary" ng-show="!event.published"
              data-toggle="tooltip" data-placement="top"
               ng-click="publish()"
               title="Publish Event">
                <span class="fa fa-unlock"></span>
            </button>
            <button class="btn btn-primary" ng-show="event.published" ng-click="unpublish()"
                data-toggle="tooltip" data-placement="top"
               title="Un publish Event">
                <span class="fa fa-lock"></span>
            </button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#myModal" data-toggle="tooltip"
                    data-placement="top" title="Delete Event">
                <span class="fa fa-times"></span>
            </button>


            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-sm" style="text-align: left">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Confirm your Action</h4>
                        </div>
                        <div class="modal-body">

                            <h5> Do you want delete {{ event.name }} ?</h5>

                            <span class="label label-danger" style="color: white;font-size: 1.3em">
                               Action cannot undo
                            </span>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteEvent()">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>