<div class="panel col-md-12" style="margin-top: 10px;">

    <div class="panel-heading">


        <h4 class="modal-title pull-left">
        <span class="fa fa-plus-circle"></span>
            Upload Photos</h4>


    </div>
    <div class="panel-body col-md-12">


        <div>
            <input ng-file-select="fileUploadOptions" type="file" class="btn btn-lg btn-default" multiple id="photouploader" ng-click="photoUpload=true"/>


            <div class="progress-bar" role="progressbar"
                 ng-show="uploadprogress!=0"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 role="progressbar" style="{{ 'width:'+ uploadprogress + '%' }}">
            </div>

        </div>


        <div class="col-md-12" id="uploadedPhotos">

        </div>


    </div>
    <div class="col-md-12">
        <button class="btn btn-square btn-primary pull-right " ng-click="finish()">
            <span class="fa fa-check-circle"></span>

            Done</button>
    </div>

</div>
